<html>
    <head>
     <title>VirtualEye-LifeGuard For Swimming Pools To Detect Active Drowning</title>
     <link rel="stylesheet" type="text/css" href="../static/css/style.css">
     <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
         <header class="header">
            <nav class="navbar navbar-style">
               <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                     <a href="/"><img class="logo" src="../static/images/eye.jpg"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="micon">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Home</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Register</a></li>
                            <li><a href="/demo">Demo</a></li>
                        </ul>
                   </div>
               </div>
            </nav>
            <div class="container">
                <div class="masthead" style="background-image: url('../static/images/drown.png');">
                    <div class="color-overlay d-flex justify-content-center align-items-center">
                    </div>
                </div>
                <div class="row">
                    <div class="head">
                        <h1 style="font-weight:bold">About Project</h1>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="text">
                            <u><h2 style="font-weight:bold"><a href="/demo_1">Drowning Video 1</a></h2></u>
                            <video src="../sample_drowning-1.mp4" width="400" height="400" controls></video>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="text1">
                            <u><h2 style="font-weight:bold"><a href="/demo_2">Drowning Video 2</a></h2></u>
                            <video src="../sample_drowning-2.mp4" width="400" height="400" controls></video>
                        </div>
                      </div>
                    </div>
                    <br><br><br><br>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="text">
                            <u><h2 style="font-weight:bold"><a href="/demo_3">Swimming Video 1</a></h2></u>
                            <video src="../sample_swimming-1.mp4" width="400" height="400" controls></video>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="text1">
                            <u><h2 style="font-weight:bold"><a href="/demo_4">Swimming Video 2</a></h2></u>
                            <video src="../sample_swimming-2.mp4" width="400" height="400" controls></video>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>